.contenedor_grid{
	display: grid;
	grid-template-columns: 40px auto auto auto;
	grid-auto-rows: auto auto auto;
}


#uno{
	background-color: blue;
	grid-column: 1/3;
	grid-row: 1/2;
}

#dos{
	background-color: darkblue;
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column: 3/4;
}

#tres{
	background-color: yellow;
}

#cuatro{
	grid-column-start: 1;
}
#cinco{
	grid-column-start: 2;
}

#seis{
	background-color: grey;
	grid-row-start: 2;
	grid-row-end: 4;
	grid-column: 4/5;
}

#siete{
	grid-column-start: 1;
}

#hueco{
	background-color: darkred;
}

#ocho{
	background-color: cyan;
}